* {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: unset;
}
#new_task {
  padding-left: 5px;
  padding-bottom: 2px;
}
input:focus {
  outline: none;
}

#add_task {
  background-color: white;
  color: rgb(56, 55, 55);

  font-size: 13px;
  padding: 3px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid rgb(206, 201, 201);
}

#clear_task {
  backgrounds: white;
  color: rgb(56, 55, 55);

  font-size: 13px;
  padding: 3px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid rgb(206, 201, 201);
}
